body {
    background-color:   hsl(212, 45%, 89%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;

  }
  .bild {
    overflow: auto;
    border-radius: 20px;
    
    
    
    
    
  }
  .QR-code {
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    height: 20%;
    margin-left: 700px;
    margin-top: 165px;
    
    
  }
  .text {
    font-size: 23px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;

  }
  .text2 {
    font-size: 15px;
    color:  hsl(220, 15%, 55%);
    
    text-align: center;
    font-weight: 400;
  }